workflows/clara_pipeline.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        32
      ],
      "id": "9de2927f-7237-4622-9840-847938b9887b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/run-batch",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        32
      ],
      "id": "23c3013a-aa5c-422a-9baf-710e86c41940",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a1eed18c-091d-488c-86a5-d7cdaacce2da",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        32
      ],
      "id": "5a403b49-9d31-49fb-84a8-566404fd29ae",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "053fd2ff-c445-4ded-a104-a59cf021457f",
              "name": "message",
              "value": "=Batch executed successfully",
              "type": "string"
            },
            {
              "id": "725b364f-02bc-4a52-b530-cf2959c43f6c",
              "name": "started_at",
              "value": "={{ $json.started_at }}",
              "type": "string"
            },
            {
              "id": "6347f544-8ba5-40d6-9ddd-f937ea13306e",
              "name": "ended_at",
              "value": "={{ $json.ended_at }}",
              "type": "string"
            },
            {
              "id": "585eb020-ac68-45ee-9a3a-857e13710735",
              "name": "stdout",
              "value": "={{ $json.stdout}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        -64
      ],
      "id": "5f309504-7513-439e-9405-d6d5d8499e37",
      "name": "Batch Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7cec196-762d-48bc-9575-f54a67f7b9a5",
              "name": "error",
              "value": "=Batch execution failed",
              "type": "string"
            },
            {
              "id": "d42b53d3-88e6-412b-af7b-7330dfdc3558",
              "name": "stderr",
              "value": "={{ $json.stderr }}",
              "type": "string"
            },
            {
              "id": "ec59a40c-d747-421f-abb9-41cb9d6f2d44",
              "name": "returncode",
              "value": "={{ $json.returncode }}",
              "type": "number"
            },
            {
              "id": "4f061559-a8b4-4736-ae65-0f5d6516f696",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        128
      ],
      "id": "422a9775-41eb-4039-b352-2f40f5393760",
      "name": "Batch Failed"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Batch Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Batch Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cb9ce037-6c39-4da1-9ff6-68a4e5e0efc1",
  "meta": {
    "instanceId": "6089b1654196917c135792bd70e7fec76dcc5139b6554f599e79b3a105601f85"
  },
  "id": "Uce0DSOadgxXp07F",
  "tags": []
}